body {
  background-color: rgb(5, 5, 53);
  color: honeydew;
}

input[type=text] {
  background-color: inherit;
  color: honeydew;
  border: 0;
}

::placeholder {
  color: rgba(240, 255, 240, 0.767);
}